// variables
// colors - primary
$clr_prim_orange: hsl(26, 100%, 55%);
$clr_prim_paleOrange: hsl(25, 100%, 94%);

// colors - neutral
$clr_neut_daBlue: hsl(220, 13%, 13%);
$clr_neut_daGrayBlue: hsl(219, 9%, 45%);
$clr_neut_grayBlue: hsl(220, 14%, 75%);
$clr_neut_liGrayBlue: hsl(223, 64%, 98%);
$clr_neut_white: hsl(0, 0%, 100%);
$clr_neut_black: hsl(0, 0%, 0%);

$breakpoint_small: 375px;
$breakpoint_large: 1440px;

$br: 14px;
