@use './variables'; /* use variables like this: "color: variables.$clr_prim;" */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

h1,
h2,
h3,
p,
button,
span,
div {
	color: variables.$clr_neut_daBlue;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

body {
	font-size: 16px;
	padding: 0 10rem;

	nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid variables.$clr_neut_grayBlue;

		> * {
			transition: all variables.$trans_duration variables.$trans_mode;
		}

		.nav-left-container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.nav-logo {
				max-width: 100%;
				height: auto;
			}

			.nav-links {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				margin-left: 4rem;

				.nav-link {
					padding: 2rem 0;
					color: variables.$clr_neut_daGrayBlue;
					text-decoration: none;
					font-size: 0.9rem;
					border-bottom: 4px solid transparent;

					&:hover {
						border-bottom: 4px solid variables.$clr_prim_orange;
						color: variables.$clr_neut_daBlue;
					}

					&:not(:last-child) {
						margin-right: 2.5rem;
					}
				}
			}
		}

		.nav-right-container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.nav-shopping-cart-icon {
				&:hover * {
					fill: variables.$clr_neut_daBlue;
				}
			}

			.cart-popup {
				position: absolute;
				width: 360px;
				margin-top: 1em;
				margin-left: calc(-360px / 2);
				border-radius: variables.$br_normal;
				box-shadow: 0px 15px 30px -10px #949494;
				background-color: variables.$clr_neut_white;
				z-index: 2;

				> * {
					padding: 1.5rem;
				}

				.cart-popup-headline {
					border-bottom: 1px solid variables.$clr_neut_grayBlue;
				}

				.cart-popup-content {
					.cart-popup-items {
						.cart-popup-item {
							display: flex;
							flex-flow: row nowrap;
							justify-content: space-between;
							align-items: center;

							.cart-popup-item-image {
								max-width: 100%;
								height: auto;
								border-radius: variables.$br_small;
							}

							.cart-popup-item-details {
								* {
									color: variables.$clr_neut_daGrayBlue;
								}

								> * {
									display: block;
								}

								.cart-popup-item-title {
									margin-bottom: 0.5em;
								}

								.cart-popup-item-price-calculation {
									*:not(:last-child) {
										margin-right: 0.5em;
									}

									.cart-popup-item-total-price {
										color: variables.$clr_neut_daBlue;
										font-weight: bold;
									}
								}
							}

							.cart-popup-item-delete-button {
								.cart-popup-item-delete-icon use {
									fill: variables.$clr_neut_grayBlue;
									transition: fill variables.$trans_duration variables.$trans_mode;
								}

								&:hover {
									.cart-popup-item-delete-icon use {
										fill: variables.$clr_neut_daGrayBlue;
									}
								}
							}
						}
					}

					.cart-popup-checkout {
						width: 100%;
						margin-top: 1.5rem;
						padding: 1em 0;
						font-size: 1rem;
						font-weight: bold;
						color: variables.$clr_neut_white;
						background-color: variables.$clr_prim_orange;
						border-radius: variables.$br_normal;
					}

					.cart-popup-empty-message {
						height: 150px;
						display: flex;
						justify-content: center;
						align-items: center;
						color: variables.$clr_neut_daGrayBlue;
						font-weight: bold;
					}
				}
			}

			.nav-profile-avatar {
				box-sizing: content-box;
				width: 50px;
				height: 50px;
				margin-left: 2rem;
				border: 2px solid transparent;
				border-radius: 50%;

				&:hover {
					border: 2px solid variables.$clr_prim_orange;
				}
			}
		}
	}

	main {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 10%;
		padding: 5rem 2.5rem 0 2.5rem;

		.product-images {
			flex: 35% 0 0;

			.product-image {
			}

			.product-thumbnails {
				gap: 6%;
				margin-top: 6%;

				.product-thumbnail-container {
					.product-thumbnail {
					}

					.product-thumbnail-overlay {
					}
				}
			}
		}

		.product-details {
			flex: 35% 0 0;

			.product-text-container {
				.product-producer {
					margin-bottom: 1.5rem;
					font-size: 0.85rem;
					letter-spacing: 0.15em;
					text-transform: uppercase;
					color: variables.$clr_prim_orange;
					text-shadow: 0 0 4px rgb(248, 221, 200);
				}

				.product-title {
					margin-bottom: 2.5rem;
					font-size: 3rem;
					line-height: 1em;
				}

				.product-description {
					color: variables.$clr_neut_daGrayBlue;
					line-height: 1.5em;
				}
			}

			.product-price-container {
				position: relative;
				margin: 1.5rem 0 2rem 0;

				.product-current-price {
					display: inline-block;
				}

				.product-discount {
					position: absolute;
					top: 0.1rem;
					margin-left: 1rem;
					padding: 0.2em 0.5em;
					font-size: 1rem;
					font-weight: bold;
					color: variables.$clr_prim_orange;
					background-color: variables.$clr_prim_paleOrange;
					border-radius: variables.$br_small;
				}

				.product-original-price {
					display: block;
					margin-top: 0.5rem;
					font-weight: bold;
					text-decoration: line-through;
					color: variables.$clr_neut_grayBlue;
				}
			}

			.product-controls-container {
				display: flex;
				flex-flow: row wrap;
				gap: 3%;
				height: 3rem;

				.product-amount-control {
					flex: 30%;
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: center;
					background-color: variables.$clr_neut_liGrayBlue;
					border-radius: 6px;

					.product-amount-control-decrease,
					.product-amount-control-increase {
						flex: 30%;
						padding-bottom: 8px;
						color: variables.$clr_prim_orange;
						transition: color variables.$trans_duration variables.$trans_mode;
						font-size: 2rem;
						font-weight: bold;

						&:hover {
							color: rgba($color: variables.$clr_prim_orange, $alpha: 0.5);
						}
					}

					.product-amount-control-display {
						flex: 40%;
						padding: 0 1em;
						font-weight: bold;
						text-align: center;
						cursor: default;
						user-select: none;
					}
				}

				.product-add-to-cart {
					flex: 67%;
					display: flex;
					flex-flow: row;
					justify-content: center;
					align-items: center;
					background-color: variables.$clr_prim_orange;
					transition: background-color variables.$trans_duration variables.$trans_mode;
					border-radius: variables.$br_normal;
					box-shadow: 0 20px 40px -15px variables.$clr_prim_orange;

					&:hover {
						background-color: rgba($color: variables.$clr_prim_orange, $alpha: 0.7);
					}

					.product-add-to-cart-icon * {
						fill: variables.$clr_neut_white;
						transform: scale(75%);
					}

					.product-add-to-cart-text {
						font-size: 1rem;
						font-weight: bold;
						margin-left: 0.5em;
						color: variables.$clr_neut_white;
					}
				}
			}
		}
	}

	footer {
		width: 400px;
		position: absolute;
		bottom: 0.5em;
		left: calc(50% - (400px / 2));

		.attribution {
			text-align: center;
			font-size: 0.75rem;
			font-weight: 400;
			color: #8f8f8f;

			a {
				color: #7881aa;
				font-weight: 400;
			}
		}
	}

	.lightbox {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		background-color: rgba($color: variables.$clr_neut_black, $alpha: 0.75);

		.product-images {
			width: 30%;
			.product-image {
			}

			.product-thumbnails {
				padding: 0 8%;
				gap: 6%;
				margin-top: 6%;

				.product-thumbnail-container {
					.product-thumbnail {
					}

					.product-thumbnail-overlay {
					}
				}
			}
		}
	}
}

.product-images {
	position: relative;

	* {
		user-select: none;
	}

	.product-image-container {
		position: relative;

		.product-image {
			max-width: 100%;
			height: auto;
			display: block;
			border-radius: variables.$br_large;
		}

		.product-image-controls {
			* {
				position: absolute;
			}

			.product-image-control-previous,
			.product-image-control-next {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				background-color: variables.$clr_neut_white;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				cursor: pointer;

				* {
					transition: stroke variables.$trans_duration variables.$trans_mode;
				}

				&:hover * {
					stroke: variables.$clr_prim_orange;
				}
			}

			.product-image-control-previous {
				left: 0;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			.product-image-control-next {
				right: 0;
				top: 50%;
				transform: translate(50%, -50%);
			}
		}
	}

	.product-thumbnails {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		.product-thumbnail-container {
			position: relative;
			cursor: pointer;

			.product-thumbnail {
				display: block;
				max-width: 100%;
				border-radius: variables.$br_normal;
			}

			.product-thumbnail-overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: variables.$br_normal;
				background-color: rgba(255, 255, 255, 0.6);
				opacity: 0;
				transition: opacity variables.$trans_duration variables.$trans_mode;

				&--selected {
					opacity: 1;
					border: 2px solid variables.$clr_prim_orange;
				}

				&--hovered {
					opacity: 1;
				}
			}
		}
	}

	.preview-control-close-icon {
		position: absolute;
		top: -40px;
		right: 0;
		cursor: pointer;
		width: 20px;
		height: 20px;

		* {
			fill: variables.$clr_neut_white;
			transition: fill variables.$trans_duration variables.$trans_mode;
		}

		&:hover * {
			fill: variables.$clr_prim_orange;
		}
	}
}

// TODO make website completely responsive
