@use './variables'; /* use variables like this: "color: variables.$clr_prim;" */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$onHover_bgClr_primBtn: rgba(
	$color: variables.$clr_prim_orange,
	$alpha: 0.7
);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

h1,
h2,
h3,
p,
button,
span,
div {
	color: variables.$clr_neut_daBlue;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

body {
	position: relative;
	min-height: 100vh;
	font-size: 16px;

	&.prevent-scrolling {
		overflow: hidden;
	}

	#root {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	nav {
		width: 80%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid variables.$clr_neut_grayBlue;

		@media screen and (max-width: calc(variables.$breakpoint_landscape - 1px)) {
			width: 100%;
			$padding: 1.5rem;
			padding-left: $padding;
			padding-right: $padding;
			border: none;
		}

		@media screen and (max-width: calc(variables.$breakpoint_computer - 1px)) {
			$padding: 1rem;
			padding-top: $padding;
			padding-bottom: $padding;
		}

		.nav-left-container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.nav-sidebar-toggle {
				margin-right: 2rem;

				@media screen and (max-width: calc(variables.$breakpoint_landscape - 1px)) {
					margin-right: 1rem;
				}

				@media screen and (min-width: variables.$breakpoint_computer) {
					display: none;
				}
			}

			.nav-sidebar {
				position: fixed;
				top: 0;
				left: -100%;
				bottom: 0;
				z-index: 2;
				display: flex;
				flex-flow: column nowrap;
				gap: 1rem;
				padding: 1.5rem 8rem 0 1.5rem;
				background-color: variables.$clr_neut_white;
				transition: left variables.$trans_duration variables.$trans_mode;

				&--active {
					left: 0;
				}

				.nav-sidebar-close-icon {
					margin-bottom: 2rem;
					cursor: pointer;
				}

				.nav-link {
					font-weight: bold;
					color: variables.$clr_neut_daBlue;
					text-decoration: none;
				}
			}

			.nav-logo {
				max-width: 100%;
				height: auto;
			}

			.nav-links {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				margin-left: 4rem;

				@media screen and (max-width: calc(variables.$breakpoint_computer - 1px)) {
					display: none;
				}

				.nav-link {
					padding: 2rem 0;
					color: variables.$clr_neut_daGrayBlue;
					text-decoration: none;
					font-size: 0.9rem;
					border-bottom: 4px solid transparent;
					transition: all variables.$trans_duration_nav variables.$trans_mode;

					&:hover {
						border-bottom: 4px solid variables.$clr_prim_orange;
						color: variables.$clr_neut_daBlue;
					}

					&:not(:last-child) {
						margin-right: 2.5rem;
					}
				}
			}
		}

		.nav-right-container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.nav-shopping-cart {
				.nav-shopping-cart-button {
					position: relative;

					.nav-shopping-cart-icon {
						* {
							transition: all variables.$trans_duration variables.$trans_mode;
						}

						&:hover * {
							fill: variables.$clr_neut_daBlue;
						}
					}

					.nav-shopping-cart-amount-badge {
						position: absolute;
						top: -0.5em;
						right: -0.75em;
						padding: 0.1em 0.7em;
						border-radius: 1em;
						font-size: 0.6rem;
						font-weight: bold;
						color: variables.$clr_neut_white;
						background-color: variables.$clr_prim_orange;
					}
				}

				.cart-popup {
					position: absolute;
					width: 360px;
					margin-left: calc(-360px / 2);
					margin-top: 1rem;
					border-radius: variables.$br_normal;
					box-shadow: 0px 15px 30px -10px #949494;
					background-color: variables.$clr_neut_white;
					z-index: 1;

					@media screen and (max-width: calc(variables.$breakpoint_computer - 1px)) {
						right: 2rem;
					}

					@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
						width: initial;
						margin-left: 0;
						top: 4rem;
						left: 1rem;
						right: 1rem;
					}

					> * {
						padding: 1.5rem;
					}

					.cart-popup-headline {
						border-bottom: 1px solid variables.$clr_neut_grayBlue;
					}

					.cart-popup-content {
						.cart-popup-items {
							.cart-popup-item {
								display: flex;
								flex-flow: row nowrap;
								justify-content: space-between;
								align-items: center;

								.cart-popup-item-image {
									max-width: 100%;
									height: auto;
									border-radius: variables.$br_small;
								}

								.cart-popup-item-details {
									* {
										color: variables.$clr_neut_daGrayBlue;
									}

									> * {
										display: block;
									}

									.cart-popup-item-title {
										margin-bottom: 0.5rem;
									}

									.cart-popup-item-price-calculation {
										*:not(:last-child) {
											margin-right: 0.5rem;
										}

										.cart-popup-item-total-price {
											color: variables.$clr_neut_daBlue;
											font-weight: bold;
										}
									}
								}

								.cart-popup-item-delete-button {
									.cart-popup-item-delete-icon use {
										fill: variables.$clr_neut_grayBlue;
										transition: fill variables.$trans_duration variables.$trans_mode;
									}

									&:hover {
										.cart-popup-item-delete-icon use {
											fill: variables.$clr_neut_daGrayBlue;
										}
									}
								}
							}
						}

						.cart-popup-checkout {
							width: 100%;
							margin-top: 1.5rem;
							padding: 1rem 0;
							font-size: 1rem;
							font-weight: bold;
							color: variables.$clr_neut_white;
							background-color: variables.$clr_prim_orange;
							border-radius: variables.$br_normal;
							transition: background-color variables.$trans_duration variables.$trans_mode;

							&:hover {
								background-color: $onHover_bgClr_primBtn;
							}
						}

						.cart-popup-empty-message {
							height: 150px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: variables.$clr_neut_daGrayBlue;
							font-weight: bold;
						}
					}
				}
			}

			.nav-profile-avatar {
				box-sizing: content-box;
				width: 50px;
				height: auto;
				margin-left: 2rem;
				border: 2px solid transparent;
				border-radius: 50%;
				transition: all variables.$trans_duration variables.$trans_mode;

				&:hover {
					border: 2px solid variables.$clr_prim_orange;
				}

				@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
					margin-left: 1rem;
				}

				@media screen and (max-width: calc(variables.$breakpoint_computer - 1px)) {
					width: 30px;
				}
			}
		}
	}

	main {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		margin: 5rem 0 10rem 0;
		gap: 5%;
		padding: 0 5rem;

		@media screen and (min-width: variables.$breakpoint_landscape) {
			padding: 0;
		}

		@media screen and (max-width: calc(variables.$breakpoint_landscape - 1px)) {
			flex-flow: column;
			margin-top: 0;
			padding: 0;
			gap: 4rem;
		}

		@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
			gap: 2rem;
		}

		.product-images {
			flex: 30% 0 0;

			.product-image {
			}

			.product-thumbnails {
				gap: 6%;
				margin-top: 6%;

				.product-thumbnail-container {
					.product-thumbnail {
					}

					.product-thumbnail-overlay {
					}
				}
			}
		}

		.product-details {
			flex: 30% 0 0;

			@media screen and (max-width: calc(variables.$breakpoint_landscape - 1px)) {
				padding: 0 2rem;
			}

			.product-text-container {
				.product-producer {
					margin-bottom: 1.5rem;
					font-size: 0.85rem;
					letter-spacing: 0.15em;
					text-transform: uppercase;
					color: variables.$clr_prim_orange;
					text-shadow: 0 0 4px rgb(248, 221, 200);
				}

				.product-title {
					margin-bottom: 2.5rem;
					font-size: 3rem;
					line-height: 1em;
				}

				.product-description {
					color: variables.$clr_neut_daGrayBlue;
					line-height: 1.5em;
				}
			}

			.product-price-container {
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				margin: 1.5rem 0 2rem 0;

				@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}

				.product-price-left-container {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;

					.product-discount {
						margin-left: 1rem;
						padding: 0.2rem 0.5rem;
						font-weight: bold;
						color: variables.$clr_prim_orange;
						background-color: variables.$clr_prim_paleOrange;
						border-radius: variables.$br_small;
					}
				}

				.product-original-price.product-price-right {
					margin-top: 0.5rem;
					font-weight: bold;
					text-decoration: line-through;
					color: variables.$clr_neut_grayBlue;

					@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
						margin-top: 0;
					}
				}
			}

			.product-controls-container {
				display: flex;
				flex-flow: row wrap;
				gap: 3%;

				@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
					flex-direction: column;
				}

				.product-amount-control {
					flex: 30%;
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: center;
					background-color: variables.$clr_neut_liGrayBlue;
					border-radius: 6px;

					@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
						flex: 100%;
					}

					.product-amount-control-decrease,
					.product-amount-control-increase {
						flex: 30%;
						padding-bottom: 8px;
						color: variables.$clr_prim_orange;
						transition: color variables.$trans_duration variables.$trans_mode;
						font-size: 2rem;
						font-weight: bold;

						&:hover {
							color: rgba($color: variables.$clr_prim_orange, $alpha: 0.5);
						}
					}

					.product-amount-control-display {
						flex: 40%;
						padding: 0 1rem;
						font-weight: bold;
						text-align: center;
						cursor: default;
						user-select: none;
					}
				}

				.product-add-to-cart {
					flex: 67%;
					display: flex;
					flex-flow: row;
					justify-content: center;
					align-items: center;
					padding: 1rem 2rem;
					background-color: variables.$clr_prim_orange;
					transition: background-color variables.$trans_duration variables.$trans_mode;
					border-radius: variables.$br_normal;
					box-shadow: 0 20px 40px -15px variables.$clr_prim_orange;

					&:disabled {
						cursor: not-allowed;
					}

					&:hover {
						background-color: $onHover_bgClr_primBtn;
					}

					@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
						flex: 100%;
						margin-top: 1rem;
					}

					.product-add-to-cart-icon * {
						fill: variables.$clr_neut_white;
						transform: scale(75%);
					}

					.product-add-to-cart-text {
						font-size: 1rem;
						font-weight: bold;
						margin-left: 0.5rem;
						color: variables.$clr_neut_white;
					}
				}
			}
		}
	}

	footer {
		width: 400px;
		position: absolute;
		bottom: 0.5rem;
		left: calc(50% - (400px / 2));

		.attribution {
			text-align: center;
			font-size: 0.75rem;
			font-weight: 400;
			color: #8f8f8f;

			a {
				color: #7881aa;
				font-weight: 400;
			}
		}
	}

	.lightbox {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		background-color: rgba($color: variables.$clr_neut_black, $alpha: 0.75);

		.product-images {
			width: 30%;
			.product-image {
			}

			.product-thumbnails {
				padding: 0 8%;
				gap: 6%;
				margin-top: 6%;

				.product-thumbnail-container {
					.product-thumbnail {
					}

					.product-thumbnail-overlay {
					}
				}
			}
		}
	}
}

.product-images {
	position: relative;

	* {
		user-select: none;
	}

	.product-image-container {
		position: relative;

		.product-image {
			max-width: 100%;
			height: auto;
			display: block;
			border-radius: variables.$br_large;

			@media screen and (max-width: calc(variables.$breakpoint_landscape - 1px)) {
				border-radius: 0;
			}
		}

		.product-image-controls {
			* {
				position: absolute;
			}

			.product-image-control-previous,
			.product-image-control-next {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				background-color: variables.$clr_neut_white;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				cursor: pointer;

				* {
					transition: stroke variables.$trans_duration variables.$trans_mode;
				}

				&:hover * {
					stroke: variables.$clr_prim_orange;
				}
			}

			.product-image-control-previous {
				left: 0;
				top: 50%;
				transform: translate(-50%, -50%);

				@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
					transform: translate(50%, -50%);
				}
			}

			.product-image-control-next {
				right: 0;
				top: 50%;
				transform: translate(50%, -50%);

				@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.product-thumbnails {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: calc(variables.$breakpoint_tablet - 1px)) {
			display: none;
		}

		@media screen and (max-width: calc(variables.$breakpoint_landscape - 1px)) {
			padding: 0 2rem;
		}

		.product-thumbnail-container {
			position: relative;
			cursor: pointer;

			.product-thumbnail {
				display: block;
				max-width: 100%;
				border-radius: variables.$br_normal;
			}

			.product-thumbnail-overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: variables.$br_normal;
				background-color: rgba(255, 255, 255, 0.6);
				opacity: 0;
				transition: opacity variables.$trans_duration variables.$trans_mode;

				&--selected {
					opacity: 1;
					border: 2px solid variables.$clr_prim_orange;
				}

				&--hovered {
					opacity: 1;
				}
			}
		}
	}

	.preview-control-close-icon {
		position: absolute;
		top: -40px;
		right: 0;
		cursor: pointer;
		width: 20px;
		height: 20px;

		* {
			fill: variables.$clr_neut_white;
			transition: fill variables.$trans_duration variables.$trans_mode;
		}

		&:hover * {
			fill: variables.$clr_prim_orange;
		}
	}
}
